body {
  margin: 0;
  padding: 0;
}

.header {
  display: none;
}

/**** navbar 1 ****/
.navbar-1 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #111;
}

.nav-1-item a {
  text-decoration: none;
  color: #999;
}

.nav-1-item a:hover {
  text-decoration: none;
  color: #fff;
}

.nav-1-item {
  margin-left: 10px;
  font-size: 0.9rem;
}

/**** navbar 2 ****/
.navbar-2 {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
}


.nav-2-item a {
  text-decoration: none;
  color: #999;
}

.nav-2-item a:hover {
  text-decoration: none;
  color: #111;
}

.nav-2-item {
  margin-left: 10px;
  font-size: 1rem;
}

/*** annoncement ***/
.annoncement {
  padding: 5px;
  font-size: 0.8rem;
  background: rgb(247, 230, 5);
}

.annoncement a {
  text-decoration: none;
  color: #111;
}

.annoncement a:hover {
  text-decoration: none;
  color: #111;
}

/**** top stories ****/
.top-stories-grid {
  display: grid;
  grid-template-areas: 
    'article-1 article-1 article-2' 
    'article-1 article-1 article-3';
  height: 450px;
}

.top-stories-itme-1 {
  grid-area: article-1;
  background-color: #111;
}

.top-stories-itme-2 {
  grid-area: article-2;
  background-color: aqua;
}

.top-stories-itme-3 {
  grid-area: article-3;
  background-color: chocolate;
}

/**** latest news ****/
.latest-news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.latest-news-item {
  width: 180px;
  height: 100px;
  border: 1px #111 solid;
  margin: 20px;
}

/*** latest round of funding ***/
.fund-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fund-container {
  display: flex;
  justify-content: center;
}

.fund-item {
  width: 180px;
  height: 100px;
  border: 1px #111 solid;
  margin: 20px;
}

/**** categories ****/
.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  gap: 20px;
}

.categories-itme {
  width: 100%;
  height: 500px;
  border: 1px #111 solid;
}

/**** latest news ****/
.latest-deals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.latest-deals-item {
  width: 180px;
  height: 100px;
  border: 1px #111 solid;
  margin: 20px;
}

/**** footers ****/
.footer-2 {
  text-align: center;
  background: #111;
  color: #fff;
  font-size: 0.8rem;
  height: 50px;
}
